/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Noto Sans';
}
a {
  text-decoration: none;
}
header {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
header h1 {
  font-size: 3.6rem;
  color: #63BAFF;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
header nav a {
  font-size: 1.6rem;
  color: #63BAFF;
}
/* Home Marketing page */
.top {
  background-color: #63BAFF;
}
.top div.container {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.top div.container div.panel {
  background-color: white;
  border: 2px solid #2D2D2D;
  padding: 1rem;
  margin: 2rem;
}
@media (max-width: 500px) {
  .top div.container div.panel {
    width: 100%;
    border-right-style: none;
    border-left-style: none;
    margin: 0;
  }
}
.top div.container div.panel h2 {
  font-size: 4rem;
  margin: 1rem;
}
.top div.container div.panel h3 {
  font-size: 3rem;
  margin: 1rem;
}
.top div.container a {
  background-color: #05FFB8;
  padding: 1.5rem;
  margin: 2rem;
  border: 2px solid #2D2D2D;
  font-size: 3.5rem;
  text-align: center;
  text-decoration: none;
  color: #2D2D2D;
  min-width: 4rem;
}
.top div.container a:hover {
  background-color: #9effe3;
}
.bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: #63BAFF;
}
.bottom .feature {
  width: 33%;
  padding: 15px;
  margin: 10px 10%;
  border: 1px solid #2D2D2D;
  text-align: center;
  background-color: white;
}
.bottom .feature h3 {
  font-size: 2rem;
  color: #2D2D2D;
  padding-bottom: 12px;
}
.bottom .feature p {
  font-size: 1.6rem;
  color: #2D2D2D;
}
.learn-top {
  position: relative;
}
.learn-top .learn-header-image {
  overflow: hidden;
  max-width: 100vw;
  max-height: 550px;
}
.learn-top .learn-header-image img {
  width: 100%;
}
.learn-top .learn-header-button h2 {
  top: 10px;
  font-size: 3rem;
  color: #05FFB8;
  position: absolute;
  top: 250px;
  left: 60vw;
}
.learn-top .learn-header-button button {
  font-size: 1.6rem;
  color: #2D2D2D;
  position: absolute;
  top: 330px;
  left: 60vw;
}
.learn-bottom {
  display: flex;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.learn-bottom .learn-feature {
  width: 33%;
  padding: 20px;
}
.learn-bottom .learn-feature h3 {
  font-size: 1.8rem;
  color: #2D2D2D;
}
.learn-bottom .learn-feature p {
  font-size: 1.6rem;
  color: #2D2D2D;
}
/* About Marketing page */
.top {
  position: relative;
}
.top .aboutheader-image .aboutimage {
  max-width: 98%;
  max-height: 20%;
  margin: 1%;
}
.top .header-button {
  height: 100px;
  width: 100px;
  margin: 20px;
}
.top .header-button h4 {
  top: 30px;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 37%;
  left: 55%;
  background-color: #63BAFF;
  padding: 7px;
  border: 5px solid white;
}
.aboutmission {
  display: flex;
  width: 880px;
  margin: 0 auto;
}
.aboutmission .aboutfeature {
  width: 50%;
  padding-bottom: 50px;
}
.aboutmission .aboutfeature h3 {
  font-size: 1.8rem;
  color: #2D2D2D;
}
.aboutmission .aboutfeature p {
  font-size: 14px;
  color: #2D2D2D;
}
.aboutmission .aboutus {
  display: flex;
  flex-direction: column;
}
