/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Noto Sans';
}
a {
  text-decoration: none;
}
header {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
header h1 {
  font-size: 3.6rem;
  color: #63BAFF;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
header nav a {
  font-size: 1.6rem;
  color: #63BAFF;
}
/* Home Marketing page */
.top {
  position: relative;
}
.top .header-image {
  overflow: hidden;
  max-width: 100vw;
  max-height: 550px;
}
.top .header-image img {
  width: 100%;
}
.top .header-button h2 {
  top: 10px;
  font-size: 3rem;
  color: #05FFB8;
  position: absolute;
  top: 250px;
  left: 60vw;
}
.top .header-button button {
  font-size: 1.6rem;
  color: #2D2D2D;
  position: absolute;
  top: 330px;
  left: 60vw;
}
.bottom {
  display: flex;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.bottom .feature {
  width: 33%;
  padding: 20px;
}
.bottom .feature h3 {
  font-size: 1.8rem;
  color: #2D2D2D;
  padding-bottom: 12px;
}
.bottom .feature p {
  font-size: 1.6rem;
  color: #2D2D2D;
}
.learn-top .learn-header-image {
  overflow: hidden;
  max-width: 100vw;
  max-height: 400px;
}
.learn-top .learn-header-image img {
  width: 100%;
}
.learn-bottom {
  width: 880px;
  margin: 0 auto;
}
.learn-bottom h2 {
  font-size: 7rem;
  text-align: center;
  color: #05FFB8;
  padding: 30px 0;
}
.learn-bottom .learn-benefits .h3-intro {
  height: 150px;
  width: 880px;
  border: 2px solid #686868;
  display: flex;
  margin-bottom: 30px;
}
.learn-bottom .learn-benefits .h3-intro .learn-h3-image {
  height: inherit;
  width: 450px;
  overflow: hidden;
}
.learn-bottom .learn-benefits .h3-intro .learn-h3-text {
  height: inherit;
  width: auto;
  margin: 10px;
}
.learn-bottom .learn-benefits .h3-intro .learn-h3-text h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  color: #2D2D2D;
}
.learn-bottom .learn-benefits .h3-intro .learn-h3-text p {
  font-size: 1.6rem;
  color: #686868;
}
.learn-bottom .learn-benefits .cards-container-1 {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 10px;
}
.learn-bottom .learn-benefits .cards-container-1 .card {
  height: 400px;
  width: 40%;
  border: 2px solid #2D2D2D;
}
.learn-bottom .learn-benefits .cards-container-1 .card .headline {
  font-size: 3rem;
}
.learn-bottom .learn-benefits .cards-container-1 .card .description {
  font-size: 1.6rem;
  color: #686868;
}
.learn-bottom .learn-benefits .learn-cards-image {
  height: 250px;
  overflow: hidden;
  margin: 20px 0;
}
.learn-bottom .learn-benefits .cards-container-2 {
  display: flex;
}
.learn-bottom .learn-benefits .cards-container-2 .card {
  height: 400px;
  width: 33%;
  border: 2px solid #2D2D2D;
  margin: 10px;
}
.learn-bottom .learn-benefits .cards-container-2 .card .headline {
  font-size: 3rem;
}
.learn-bottom .learn-benefits .cards-container-2 .card .description {
  font-size: 1.6rem;
  color: #686868;
}
.learn-bottom .learn-tenses .h3-intro {
  height: 150px;
  width: 880px;
  border: 2px solid #686868;
  display: flex;
  margin-bottom: 30px;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-image {
  height: inherit;
  width: 450px;
  overflow: hidden;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text {
  height: inherit;
  width: 545px;
  margin: 10px;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  color: #2D2D2D;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text p {
  font-size: 1.6rem;
  color: #686868;
}
