.button-default {
  background-color: #05FFB8;
  text-align: center;
  text-decoration: none;
  color: white;
}
.button-hover {
  background-color: #03FF76;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Noto Sans';
}
a {
  text-decoration: none;
}
header {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: white;
}
@media (max-width: 650px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
header h1 {
  font-size: 3.6rem;
  color: #63BAFF;
  padding: 15px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  max-width: 100vw;
}
header nav a {
  font-size: 1.6rem;
  color: #63BAFF;
  padding: 15px;
}
header.full-size {
  width: 100%;
  max-width: none;
  margin: 0;
}
/* Home Marketing page */
div.shaded {
  background-color: #63BAFF;
  height: auto;
  min-height: 100vh;
  overflow: auto;
}
div.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-image: url('./assets/texture-yellow-wall.jpg');
}
div.container div.panel {
  background-color: white;
  border: 2px solid #2D2D2D;
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  min-width: 500px;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  div.container div.panel {
    width: 100%;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
    margin: 0;
    min-width: initial;
  }
  div.container div.panel h2,
  div.container div.panel h3 {
    margin: 1rem 0;
  }
}
div.container div.panel h2 {
  font-size: 4rem;
  margin: 1rem;
}
div.container div.panel h3 {
  font-size: 3rem;
  margin: 1rem;
}
div.container a {
  background-color: #05FFB8;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1.8rem;
  margin: 2rem;
  border: 5px solid white;
  border-radius: 50%;
  font-size: 3.5rem;
  min-width: 4rem;
}
div.container a:hover {
  background-color: #03FF76;
  cursor: pointer;
}
@mobile = 500px;
.learn-top .learn-header-image {
  overflow: hidden;
  max-width: 100vw;
  max-height: 400px;
}
.learn-top .learn-header-image img {
  width: 100%;
}
.learn-bottom {
  max-width: 880px;
  margin: 0 auto;
}
.learn-bottom h2 {
  font-size: 5rem;
  text-align: center;
  color: #05FFB8;
  padding: 30px 0;
}
.learn-bottom .learn-benefits .cards-container-1 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .learn-bottom .learn-benefits .cards-container-1 {
    flex-direction: column;
    box-sizing: border-box;
  }
}
.learn-bottom .learn-benefits .cards-container-1 .card {
  width: 50%;
  text-align: justify;
  padding: 20px;
}
@media (max-width: 500px) {
  .learn-bottom .learn-benefits .cards-container-1 .card {
    margin: 0 auto;
    width: 80%;
  }
}
.learn-bottom .learn-benefits .cards-container-1 .card h4 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 10px;
}
.learn-bottom .learn-benefits .cards-container-1 .card p {
  font-size: 1.6rem;
  color: #686868;
  line-height: 1.2;
}
.learn-bottom .learn-benefits .learn-cards-image {
  height: 250px;
  overflow: hidden;
  margin: 20px 0;
}
.learn-bottom .learn-benefits .cards-container-2 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .learn-bottom .learn-benefits .cards-container-2 {
    flex-direction: column;
    box-sizing: border-box;
  }
}
.learn-bottom .learn-benefits .cards-container-2 .card {
  width: 50%;
  text-align: justify;
  padding: 20px;
}
@media (max-width: 500px) {
  .learn-bottom .learn-benefits .cards-container-2 .card {
    margin: 0 auto;
    width: 80%;
  }
}
.learn-bottom .learn-benefits .cards-container-2 .card h4 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 10px;
}
.learn-bottom .learn-benefits .cards-container-2 .card p {
  font-size: 1.6rem;
  color: #686868;
  line-height: 1.2;
}
.learn-bottom {
  margin-bottom: 80px;
}
.learn-bottom .learn-tenses .h3-intro {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-image {
  margin: 0 auto;
}
@media (max-width: 500px) {
  .learn-bottom .learn-tenses .h3-intro .learn-h3-image {
    max-width: 100vw;
  }
  .learn-bottom .learn-tenses .h3-intro .learn-h3-image img {
    width: 100%;
  }
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text {
  margin: 10px auto;
  text-align: center;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  color: #2D2D2D;
}
.learn-bottom .learn-tenses .h3-intro .learn-h3-text p {
  font-size: 1.6rem;
  color: #686868;
}
.learn-bottom .learn-tenses .accordion-container {
  max-width: 700px;
  margin: 0 auto;
}
.learn-bottom .learn-tenses .accordion-container .panel-links {
  width: inherit;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.learn-bottom .learn-tenses .accordion-container .panel-links .panel-link {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
  margin: 20px 0;
  text-align: center;
}
.learn-bottom .learn-tenses .accordion-container .panel-links .panel-link:hover {
  color: #05FFB8;
}
.learn-bottom .learn-tenses .accordion-container .panel-links .panel {
  display: flex;
  flex-direction: column;
  display: none;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 20px;
}
.learn-bottom .learn-tenses .accordion-container .panel-links .panel p {
  padding-bottom: 10px;
  color: #686868;
}
.learn-bottom .learn-tenses .accordion-container .panel-links .active-panel {
  display: flex;
  flex-direction: column;
}
/* About Marketing page */
.aboutpage {
  overflow-x: hidden;
  max-width: 100%;
}
.aboutpage .abouttop {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.aboutpage .abouttop .aboutheader-image .aboutimage {
  margin: 0%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 400px;
}
.aboutpage .abouttop .aboutheader-image .aboutimage img {
  width: 100%;
}
.aboutpage .brief h3 {
  font-size: 50px;
  color: white;
  border: 1px dashed white;
  border-radius: 5px;
  background-color: #63BAFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  justify-content: center;
  display: flex;
  padding: 10px;
  box-shadow: 4px, 4px,;
}
.aboutpage .brief p {
  font-size: 1.6rem;
  color: darkslategrey;
  margin: 2%;
  padding: 2%;
}
.aboutpage .bottomabout {
  display: flex;
  align-content: top;
  justify-content: space-evenly;
  width: 100%;
}
.aboutpage .bottomabout .feature {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #63BAFF;
  margin: 40px;
}
.aboutpage .bottomabout .feature .fleximg {
  width: 100%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.aboutpage .bottomabout .feature .paragraphtext {
  display: none;
}
.aboutpage .bottomabout .feature .paragraphtext.paragraphtext-open {
  display: block;
}
.aboutpage .bottomabout .feature h3 {
  font-size: 2rem;
  color: white;
  padding: 12px;
  border: 1px solid #05FFB8;
  border-radius: 5px;
  background-color: #05FFB8;
  justify-content: center;
}
.aboutpage .bottomabout .feature p {
  font-size: 1.6rem;
  color: darkslategrey;
  padding: 12px;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .aboutpage .bottomabout {
    display: inline-block;
    width: 100%;
    align-content: center;
  }
  .aboutpage .logolink {
    display: none;
  }
  .aboutpage .logolink .nav {
    display: flex;
    width: 20%;
    overflow: hidden;
    position: absolute;
  }
}
.aboutpage .expandButton {
  font-size: 12px;
  border: 2px solid darkslategrey;
  padding: 2px;
  margin: 10px;
  margin-top: 40px;
  border-radius: 5px;
}
.contact-image {
  height: 400px;
  background-image: url('../assets/dance1.jpg');
  background-position: center;
}
h2 {
  font-size: 5rem;
  text-align: center;
  color: #05FFB8;
  padding: 30px 0;
}
.contact {
  max-width: 450px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .contact {
    max-width: 100vw;
    padding: 0 15px;
  }
}
.contact .fill-in {
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
  /* Add a background color and some padding around the form */
}
.contact .fill-in .input {
  display: flex;
  flex-direction: column;
}
.contact .fill-in input[type=text],
.contact .fill-in textarea {
  width: 100%;
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
.contact .fill-in input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact .fill-in input[type=submit]:hover {
  background-color: #45a049;
}
.contact .fill-in .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
div.scroller {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  div.scroller {
    border: 2px solid #2D2D2D;
    max-width: 500px;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  div.scroller {
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
  }
}
div.scroller div.scroll-nav {
  display: none;
}
@media (max-width: 1000px) {
  div.scroller div.scroll-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #2D2D2D;
    background-color: grey;
  }
  div.scroller div.scroll-nav div.left-button,
  div.scroller div.scroll-nav div.right-button {
    background-color: #05FFB8;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 4rem;
    width: 20%;
    -moz-user-select: none;
    user-select: none;
  }
  div.scroller div.scroll-nav div.left-button:hover,
  div.scroller div.scroll-nav div.right-button:hover {
    background-color: #03FF76;
    cursor: pointer;
  }
  div.scroller div.scroll-nav div.left-button {
    border-right: 2px solid #2D2D2D;
  }
  div.scroller div.scroll-nav div.right-button {
    border-left: 2px solid #2D2D2D;
  }
  div.scroller div.scroll-nav div.spot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2D2D2D;
  }
  div.scroller div.scroll-nav div.spot.shown {
    background-color: white;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  div.scroller div.scroll-nav {
    margin: 0;
    min-width: 0;
  }
}
div.scroller div.display-area {
  display: flex;
  justify-content: space-evenly;
}
div.scroller div.display-area div.panel {
  background-color: white;
  border: 2px solid #2D2D2D;
  border-radius: 8px;
  max-width: 300px;
  margin: 10px;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
div.scroller div.display-area div.panel h3 {
  font-size: 3rem;
  margin: 1rem;
}
div.scroller div.display-area div.panel p {
  font-size: 1.8rem;
  margin: 1rem;
}
@media (max-width: 1000px) {
  div.scroller div.display-area div.panel {
    display: none;
    margin: 0;
    max-width: none;
    width: 100%;
    border-style: none;
    border-radius: 0;
  }
  div.scroller div.display-area div.panel.shown {
    display: block;
  }
}
