/* About Marketing page */
.top {
    position: relative;
  
    .aboutheader-image {
  
  
      .aboutimage {
        max-width: 98%;
        max-height: 20%;
        margin: 1%;
      }
    }
  
    
    .header-button {
      height: 100px;
      width: 100px;
      margin: 20px;
  
      h4 {
        top: 30px;
        font-size: 40px;
        color: white;
        position: absolute;
        top: 37%;
        left: 55%;
        background-color:@blue;
        padding: 7px;
    
        border: 5px solid white;
        
      }
  
     
    }
  }
  
  .aboutmission {
      display: flex;
    width: 880px;
    margin: 0 auto;
  
      .aboutfeature {
          width: 50%;
          padding-bottom: 50px;
          
  
          h3 {
              font-size: 1.8rem;
        color: @black;
          }
        
 
  
      p {
        font-size: 14px;
        color: @black;
      }
      
      }
      .aboutus {
          display: flex;
          flex-direction: column;
      }
  }
  