/* Home Marketing page */

.top {
  background-color: @blue;

  div.container {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: @max-horizontal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

      div.panel {
      background-color: white;
      border: 2px solid @black;
      padding: 1rem;
      margin: 2rem;

      @media @mobile {
        width: 100%;
        border-right-style: none;
        border-left-style: none;
        margin: 0;
      }

      h2 {
        font-size: 4rem;
        margin: 1rem;
      }

      h3 {
        font-size: 3rem;
        margin: 1rem;
      }
    }

    a {
      background-color: @green;
      padding: 1.5rem;
      margin: 2rem;
      border: 2px solid @black;
      font-size: 3.5rem;
      text-align: center;
      text-decoration: none;
      color: @black;
      min-width: 4rem;
    }

    a:hover {
      background-color: lighten(@green, 30%);
    }
  } 
}

.bottom {
  display: flex;
  justify-content: center;
  // max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: @blue;

	.feature {
		width: 33%;
    padding: 15px;
    margin: 10px 10%;
    border: 1px solid @black;
    text-align: center;
    background-color: white;

		h3 {
			font-size: 2rem;
      color: @black;
      padding-bottom: 12px;
		}

    p {
      font-size: 1.6rem;
      color: @black;
    }
	}
}
