/* Home Marketing page */
.top {
  position: relative;

  .header-image {
    overflow: hidden;
    max-width: 100vw;
    max-height: 550px;

    img {
      width: 100%;
    }
  }

  .text-panel {
    position: absolute;
    top: 100px;
    left: 60%;
    background-color: white;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      top: 10px;
      font-size: 3.0rem;
      color: @green;
      text-align: center;
    }

    button {
      font-size: 1.6rem;
      color: @black;
    }
  }
}

.bottom {
	display: flex;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 200px;

	.feature {
		width: 33%;
		padding: 20px;

		h3 {
			font-size: 1.8rem;
      color: @black;
      padding-bottom: 12px;
		}

    p {
      font-size: 1.6rem;
      color: @black;
    }
	}
}
