/* Home Marketing page */
.header-image {
  overflow: hidden;
  max-width: 100vw;
  max-height: 80vh;

  img {
    width: 100%;
    height: auto;
  }
}

.container {
  width: 880px;
  margin: 0 auto;
}

.bottom {
	display: flex;

	.feature {
		width: 33%;
		padding: 20px;

		h3 {
			font-size: 1.8rem;
		}
	}
}
