.learn-top {

  .learn-header-image {
    overflow: hidden;
    max-width: 100vw;
    max-height: 400px;

    img {
      width: 100%;
    }
  }

  .learn-title {
    height: 150px;
    width: 300px;
    border: 2px solid red;

    h2 {
      font-size: 7.0rem;
      color: @green;
      text-align: center;
    }
  }
}

.learn-bottom {
  width: 880px;
  margin: 0 auto;

  h2 {
    font-size: 7.0rem;
    text-align: center;
  }
}

.learn-bottom .learn-benefits {

  .h3-intro
}



// .learn-bottom .learn-keyboard {
//
// 		h3 {
// 			font-size: 1.8rem;
//       color: @black;
//             padding-bottom: 12px;
// 		}
//
//     p {
//       font-size: 1.6rem;
//       color: @black;
//     }
// 	}
