// Learn Marketing Page
@mobile = 500px;


.learn-top {

  .learn-header-image {
    overflow: hidden;
    max-width: 100vw;
    max-height: 400px;

    img {
      width: 100%;
    }
  }
}

.learn-bottom {
  max-width: 880px;
  margin: 0 auto;

  h2 {
    font-size: 5.0rem;
    text-align: center;
    color: @green;
    padding: 30px 0;
  }
}

.learn-bottom .learn-benefits .cards-container-1 {
  display: flex;
  justify-content: space-around;

  @media @mobile {
    flex-direction: column;
    box-sizing: border-box;
  }

  .card {
    width: 50%;
    text-align: justify;
    padding: 20px;

    @media @mobile {
      margin: 0 auto;
      width: 80%;
    }

    h4 {
      font-size: 3.0rem;
      text-align: center;
      padding-bottom: 10px;
    }

    p {
      font-size: 1.6rem;
      color: @gray;
      line-height: 1.2;
    }
  }
}

.learn-bottom .learn-benefits .learn-cards-image {
  height: 250px;
  overflow: hidden;
  margin: 20px 0;
}

.learn-bottom .learn-benefits .cards-container-2 {
  display: flex;
  justify-content: space-around;

  @media @mobile {
    flex-direction: column;
    box-sizing: border-box;
  }

  .card {
    width: 50%;
    text-align: justify;
    padding: 20px;

    @media @mobile {
      margin: 0 auto;
      width: 80%;
    }

    h4 {
      font-size: 3.0rem;
      text-align: center;
      padding-bottom: 10px;
    }

    p {
      font-size: 1.6rem;
      color: @gray;
      line-height: 1.2;
    }
  }
}

.learn-bottom {
  margin-bottom: 80px;
}

.learn-bottom .learn-tenses .h3-intro {
  display: flex;
  flex-direction: column;
  margin: 60px 0;

  .learn-h3-image {
    margin: 0 auto;
    max-width: 100vw;

    img {
      width: 100%;
    }
  }

  .learn-h3-text {
    margin: 10px auto;
    text-align: center;

    h3 {
      font-size: 3.0rem;
      padding-bottom: 10px;
      color: @black;
    }

    p {
      font-size: 1.6rem;
      color: @gray;
    }
  }
}

.learn-bottom .learn-tenses .accordion-container {
  max-width: 700px;
  margin: 0 auto;

  .panel-links {
    width: inherit;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

    .panel-link {
      cursor: pointer;
      font-size: 2.0rem;
      font-weight: 800;
      margin: 20px 0;
      text-align: center;
    }

    .panel-link:hover {
      color: @green;
    }

    .panel {
      display: flex;
      flex-direction: column;
      display: none;
      font-size: 1.6rem;
      line-height: 1.2;
      padding: 20px;

      p {
        padding-bottom: 10px;
        color: @gray;
      }
    }

    .active-panel {
      display: flex;
      flex-direction: column;
    }
  }
}
