
header {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  h1 {
    font-size: 3.6rem;
    color: @blue;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    a {
      font-size: 1.6rem;
      color: @blue;
    }
  }
}
