
header {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: white;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;

    nav {
      flex-direction: column;
      align-items: center;
    }
  }

  h1 {
    font-size: 3.6rem;
    color: @blue;
    padding: 15px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    a {
      font-size: 1.6rem;
      color: @blue;
      padding: 15px;
    }
  }
}

header.full-size {
  width: 100%;
  max-width: none;
  margin: 0;
}